.hero-container {
  margin-top: 75px;
  text-align: center;
}

#sb-site .ImageBackground {
  height: 420px;
}

.searchbarhome {
  background-color: #fff;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#sb-site .landing-title {
  margin-bottom: -18px;
  margin-left: 12px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {  
  #sb-site .searchBar {
      width: 265px;
  }
  .inputSearch {
      margin-top: 10px;
      margin-left: -25px;
  }
}

@media screen and (max-width: 991px) {
  .landing-subtitle {
      margin-left: 12px;
  }
  .search-form .input-group {
      width: 100%;
  }
}

@media screen and (min-width: 992px) { 
  .hero-container {
      margin-top: 150px;
      text-align: center;
  } 
  #sb-site .ImageBackground {
      height: 560px;
  }
}

@media screen and (min-width: 992px) {
  #sb-site .searchBar {
      width: 500px;
      margin-left: 200px;
  }
  #sb-site .searchbarhome {
      width: 500px;
      margin-left: 100px;
      height: 45px;
  }
  #sb-site .btnHome {
      height: 45px;
  }  
  .inputSearch {
      margin-top: 10px;
      border: 3px solid #2e3734;
      margin-left: -25px;
  }
}