/* Fix for alien framework margin-top below main nav */
#content-wrapper {
    margin-top: 0!important;
}

.border-bottom-link a {
    border-bottom: 1px solid orange !important;
}

.border-bottom-link a:hover {
    color: orange !important;
}

.deal a {
    border-bottom: 1px solid orange !important;
}

.deal a:hover {
    color: orange !important;
}

.footer-separator {
    background: orange !important;
}

.btn-search {
    border-color: #2e3734!important;
    background-color: #2e3734!important;
}

@media screen and (max-width: 600px) {
    .textmiddle {
        margin-left: -12px;
        text-align: center;
    }    
}

@media screen and (min-width: 768px) {
    .formClass {
        margin-left: 108px;
    }
}

@media screen and (min-width: 992px) {      
    .textmiddle {
        margin-left: -88px;
    }    
}

@media screen and (min-width: 992px) {    
    .formClass {
        margin-left: 82px;
    }    
}

@media screen and (min-width: 1200px) {
    .formClass {
        margin-left: 182px;
    }
}