#mainNav {
  height: 56px;
  background-color: black;
}

#google_translate_element {
  position: relative;
  top: 1.75em;
}

.logo {
  max-width: 250px;
}

@media screen and (min-width: 992px) {
  /* Bootsnav fix for nav vertical alignment */
  nav.navbar.bootsnav ul.nav > li > a {
      padding-top: 30px;
  }     
}